<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="rabbitmqHost" value="localhost" />
    <add key="rabbitExchange" value="reddit-comments" />
    <add key="rabbitQueue" value="reddit-comments" />
    <add key="reddit_app_id" value="mGqzdWydsbEojw" />
    <add key="reddit_oauth_key" value="31745057-ZFtdV83BXkOqklWcsaKyMwNbY2cV1Q" />
    <add key="api_url" value = "http://localhost:5000" />
  </appSettings>
</configuration>