<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="reddit_oauth_key" value="31745057-ZFtdV83BXkOqklWcsaKyMwNbY2cV1Q" />
  </appSettings>
  <connectionStrings>
    <add name="pgsql" connectionString="Server=127.0.0.1; port=5432; User Id=docker; Password=docker; Database=stockTickers;" providerName="Npgsql"/>
  </connectionStrings>

</configuration>