<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="rabbitmqHost" value="localhost" />
    <add key="rabbitExchange" value="reddit-comments" />
    <add key="rabbitQueue" value="reddit-comments" />
    <add key="reddit_app_id" value="mGqzdWydsbEojw" />
    <add key="reddit_oauth_key" value="31745057-ZFtdV83BXkOqklWcsaKyMwNbY2cV1Q" />
    <add key="twitter_api_key" value="No2wpMAljRDglOBz4PMKJxbIT" />
    <add key="twitter_api_secret" value="YfDB7RYUHyiEcA8PbSki6NKxfJlmerBfAgXEs0gB9w0RG3u4BW" />
    <add key="twitter_access_token" value="1343705524936781830-Z7W7jT9NNBffQgBRtt5hcxThCfbTL1" />
    <add key="twitter_access_secret" value="q9fbsS2faIvlwdRpjJVUVL7f7Q19oSnvhvlsyfkbjgHSj" />
    <add key="api_url" value = "http://localhost:5000" />
    <add key="twitter_bearer_token" value="AAAAAAAAAAAAAAAAAAAAAEpFLAEAAAAAlm74w00Ne3l5ChHU2cuXIsHCKpo%3DrGi789Genq7eJ4gccRjClg9U4dciBwowyXpLSGNvz261sX8tkk" />
  </appSettings>
</configuration>